.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  &:not(:last-child) {
    margin-bottom: 9.6rem;
  }

  &--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}
