@import 'general.scss';
@import 'mixins.scss';
@import 'animations.scss';
@import 'grid.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // We want 10px = 1rem
  // However, default browser font size is 16px
  // We set our font-size to 10 / 16 = 62.5% to get our desired rem
  font-size: 62.5%;

  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400;
  // color: #555;

  // background-color: #333;
  /* only works if there is nothhing positioned absolutely to body */
  overflow-x: hidden;
}

.btn:link,
.btn:visited {
  font-size: 2.4rem;
  color: $color-grey-dark;
  background: $color-white;
  padding: 2rem 4rem;
  border-radius: 100rem;
  box-shadow: 0px 3px 6px #00000029;
  text-decoration: none;
  align-self: flex-start;
  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  color: $color-white;
  background-color: $color-secondary;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  border: 1px solid green;

  &-sidepadding-sm {
    padding: 0 5rem;
  }

  &-sidepadding-md {
    padding: 0 10rem;
  }
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: $color-white;
  // border: 1px solid blue;

  &-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
  }

  &-logo {
    font-weight: 700;
    font-size: 2.4rem;
    color: $color-primary;
  }

  &-nav--list {
    display: flex;
    list-style: none;
    gap: 5rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &-nav--item a,
  &-nav--item a:link,
  &-nav--item a:visited {
    color: $color-grey-dark;
    text-decoration: none;
  }

  &-nav--item a:hover,
  &-nav--item a:active {
    color: $color-secondary;
  }
}

/**************************************************
SECTION: HERO
**************************************************/
.section-hero {
  width: 100%;
  height: 90vh;
  background-image: url(../img/hero-plane.png);
  background-size: cover;
}

.hero-container {
  // border: 1px dotted blue;
  max-width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
}
.hero-text {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  // gap: 2rem;

  & p {
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-grey-dark;
    line-height: 2;
    margin-bottom: 2rem;
  }
}

/**************************************************
SECTION: FEATURES
**************************************************/
.section-features {
  width: 100%;
  padding: 9.6rem 0;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  border-radius: 5rem;

  // &-text-container {
  //   padding: 0 2rem;
  // }

  &-img {
    width: 100%;
  }

  &-text {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin: 3rem 0 6rem;
  }

  &-text p {
    font-size: 1.6rem;
    line-height: 2;
  }
}

/**************************************************
SECTION: EXPLORE
**************************************************/
.section-explore {
  width: 100%;
  padding: 9.6rem 0;
  background: transparent
    linear-gradient(
      353deg,
      #6a506d 0%,
      #fbd59b 4%,
      #ed935f 15%,
      #58425a 65%,
      #352837 100%
    )
    0% 0% no-repeat padding-box;
}

.explore-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  & p {
    font-size: 3.6rem;
    line-height: 1.5;
    color: $color-white;
    margin-bottom: 3rem;
  }
}
